SeaVan1 :
X is drawn uniformly from {0,1,2}
Y|X = x ~ N(x, 1)
R|X = expit(4-4x) where expit(x) = 1.(1+e^-x)

In [21]:
import numpy as np
import pandas as pd
np.random.seed(2021)
sv1 = pd.DataFrame({"X" : np.random.randint(0,3,size=50000)})
sv1["Y"] = sv1["X"].apply(lambda x : np.random.normal(x))
sv1["R"] = sv1["X"].apply(lambda x : 0 if 1/(1+np.exp(4*x-4)) < 0.5 else 1)

In [10]:
sv1.tail(5)

       X         Y  R
49995  2  3.670323  0
49996  0  1.520434  1
49997  0  0.431790  1
49998  1  1.246051  1
49999  0  1.029791  1

SeaVan2: X is drawn uniformly from {0,1,2}
Y|X = x ~ N(1[x>=1], 1)
R|X = expit(4-4x) where expit(x) = 1.(1+e^-x)

In [11]:
np.random.seed(2022)
sv2 = pd.DataFrame({"X" : np.random.randint(0,3,size=50000)})
sv2["Y"] = sv2["X"].apply(lambda x : np.random.normal(1 if x>=1 else 0))
sv2["R"] = sv2["X"].apply(lambda x : 0 if 1/(1+np.exp(4*x-4)) < 0.5 else 1)

In [12]:
sv2.tail(5)

       X         Y  R
49995  2  0.991530  0
49996  1  2.674972  1
49997  2  1.871297  0
49998  0 -0.256136  1
49999  0  0.549157  1

### Applying Baseline Models

Direct Methods : Linear Regression / Non-linear Regression / Regression Tree
MAR estimates : IPW , SN-IPW, IW, SN-IW, lin-impute, NL impute

In [25]:
import seaborn as sb
from copy import copy
from sklearn.model_selection import *
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

SeaVan1

In [17]:
train, test = train_test_split(sv1, test_size=0.2, random_state=2021)

In [23]:
lr = LinearRegression()
obs_train_x = train.loc[train.R==1][["X"]]
obs_train_y = train.loc[train.R==1]["Y"]

lr.fit(obs_train_x, obs_train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
test_x = test[["X"]]
test_y = test["Y"]
pred_y = lr.predict(test_x)

def calc_rmse(pred, label):
    return np.sum(np.abs(pred-label))**0.5
rmse = calc_rmse(pred_y, test_y)

In [26]:
rmse

89.57631143879968

SeaVan2

Yeast

In [5]:
import pandas as pd
import sys

In [12]:
sys.path

['',
 'C:\\Users\\Young Jin Park\\Anaconda3\\python36.zip',
 'C:\\Users\\Young Jin Park\\Anaconda3\\DLLs',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib',
 'C:\\Users\\Young Jin Park\\Anaconda3',
 'C:\\Users\\Young Jin Park\\AppData\\Roaming\\Python\\Python36\\site-packages',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib\\site-packages\\Babel-2.5.0-py3.6.egg',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\Young Jin Park\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Young Jin Park\\.ipython',
 'C:/Users/Young Jin Park/Documents/GitHub/direct_method/src/data']

In [20]:
yeast = pd.read_csv("C:\\Users\\Young Jin Park\\Documents\\GitHub\\direct_method\\src\\data\\yeast\\yeast.csv")

In [7]:
yeast.head()

  Sequence Name   mcg   gvh   alm   mit  erl  pox   vac   nuc label
0    ADT1_YEAST  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22   MIT
1    ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22   MIT
2    ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22   MIT
3    AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22   NUC
4    AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22   MIT

In [41]:
t = pd.DataFrame(columns=[1,2,3,4,5])

In [43]:
pd.concat([yeast, t], axis=1)

,Sequence Name,mcg,gvh,alm,mit,erl,pox,vac,nuc,label,1,2,3,4,5
0,ADT1_YEAST,0.58,0.61,0.47,0.13,0.5,0.0,0.48,0.22,MIT,NaN,NaN,NaN,NaN,NaN
1,ADT2_YEAST,0.43,0.67,0.48,0.27,0.5,0.0,0.53,0.22,MIT,NaN,NaN,NaN,NaN,NaN
2,ADT3_YEAST,0.64,0.62,0.49,0.15,0.5,0.0,0.53,0.22,MIT,NaN,NaN,NaN,NaN,NaN
3,AAR2_YEAST,0.58,0.44,0.57,0.13,0.5,0.0,0.54,0.22,NUC,NaN,NaN,NaN,NaN,NaN
4,AATM_YEAST,0.42,0.44,0.48,0.54,0.5,0.0,0.48,0.22,MIT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479,YUR1_YEAST,0.81,0.62,0.43,0.17,0.5,0.0,0.53,0.22,ME2,NaN,NaN,NaN,NaN,NaN
1480,ZIP1_YEAST,0.47,0.43,0.61,0.40,0.5,0.0,0.48,0.47,NUC,NaN,NaN,NaN,NaN,NaN
1481,ZNRP_YEAST,0.67,0.57,0.36,0.19,0.5,0.0,0.56,0.22,ME2,NaN,NaN,NaN,NaN,NaN
1482,ZUO1_YEAST,0.43,0.40,0.60,0.16,0.5,0.0,0.53,0.39,NUC,NaN,NaN,NaN,NaN,NaN
1483,G6PD_YEAST,0.65,0.54,0.54,0.13,0.5,0.0,0.53,0.22,CYT,NaN,NaN,NaN,NaN,NaN

In [50]:
def create_losses(df, y_col, rewards=False):
    
    classes = df[y_col].unique()
    if rewards:
        df = pd.concat([df, pd.DataFrame(columns=classes)], axis=1).fillna(-1)
    else:
        df = pd.concat([df, pd.DataFrame(columns=classes)], axis=1).fillna(1)
    
    def fill_in_losses(row, classes):
        label = row[y_col]
        row.loc[label] = 0
        return row
    
    df = df.apply(fill_in_losses, axis=1, args=[classes])
    
    return df

In [51]:
yeast_w_losses = create_losses(yeast, "label")

In [49]:
yeast_w_losses.head()

,Sequence Name,mcg,gvh,alm,mit,erl,pox,vac,nuc,label,MIT,NUC,CYT,ME1,EXC,ME2,ME3,VAC,POX,ERL
0,ADT1_YEAST,0.58,0.61,0.47,0.13,0.5,0.0,0.48,0.22,MIT,0,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,ADT2_YEAST,0.43,0.67,0.48,0.27,0.5,0.0,0.53,0.22,MIT,0,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,ADT3_YEAST,0.64,0.62,0.49,0.15,0.5,0.0,0.53,0.22,MIT,0,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,AAR2_YEAST,0.58,0.44,0.57,0.13,0.5,0.0,0.54,0.22,NUC,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
4,AATM_YEAST,0.42,0.44,0.48,0.54,0.5,0.0,0.48,0.22,MIT,0,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [23]:
## Not valid anymore
def create_rewards(df, x_col, y_col):
    """
    This function assigns rewards probabiliteis from Logistic Regression
    
    Args:
    df (dataframe) : dataframe with dataset
    k (array-like) : list of classes in the dataset 
    x_col (array-like) : list of columns that corresponds to covariate in the dataset
    y_col (str) : name of the label column in the dataset
    
    Returns:
    df (dataframe) : dataframe with rewards assigned
    """
    lg = LogisticRegression()
    x = df[x_col]
    y = df[y_col]
    lg.fit(x, y)
    r = pd.DataFrame(lg.predict_proba(x), columns=lg.classes_)
    
    df = pd.concat([df, r], axis=1)
    
    return df

In [26]:
modified_yeast = create_rewards(yeast, x_col=["mcg", "gvh", "alm", "mit", "erl", "pox", "vac", "nuc"], y_col="label")

C:\Users\Young Jin Park\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [28]:
def create_missing_data_sample(df, y_col):
    """
    This function creates missing data sample with probably of 1/K.
    Randomly selects a class k with prob. of 1/K and only log the rewards for that
    
    Args:
    df (dataframe) : dataframe with dataset
    x_col (array-like) : list of columns that corresponds to covariate in the dataset
    y_col (str) : name of the label column in the dataset
    
    Returns:
    df (dataframe) : dataframe with partially missing data sample
    """
    classes = list(df[y_col].unique())
   
    def fill_in_nan(row, classes):
        na = copy(classes)
        na.remove(np.random.choice(classes))
        row.loc[na] = np.NaN
        return row
    df = df.apply(fill_in_nan, axis=1, args=[classes])
    
    return df

In [29]:
missing_data_yeast = create_missing_data_sample(modified_yeast, "label")

In [30]:
modified_yeast.head()

,Sequence Name,mcg,gvh,alm,mit,erl,pox,vac,nuc,label,CYT,ERL,EXC,ME1,ME2,ME3,MIT,NUC,POX,VAC
0,ADT1_YEAST,0.58,0.61,0.47,0.13,0.5,0.0,0.48,0.22,MIT,0.369072,0.005600,0.040893,0.036927,0.052972,0.119254,0.100347,0.219288,0.016799,0.038847
1,ADT2_YEAST,0.43,0.67,0.48,0.27,0.5,0.0,0.53,0.22,MIT,0.290839,0.004647,0.026723,0.024185,0.026747,0.138180,0.243454,0.202642,0.014525,0.028057
2,ADT3_YEAST,0.64,0.62,0.49,0.15,0.5,0.0,0.53,0.22,MIT,0.371301,0.006585,0.051520,0.051304,0.070126,0.080558,0.121690,0.187602,0.017750,0.041563
3,AAR2_YEAST,0.58,0.44,0.57,0.13,0.5,0.0,0.54,0.22,NUC,0.546893,0.002463,0.012401,0.007730,0.021846,0.032336,0.068843,0.277025,0.009493,0.020970
4,AATM_YEAST,0.42,0.44,0.48,0.54,0.5,0.0,0.48,0.22,MIT,0.193817,0.002234,0.008415,0.006311,0.014753,0.068742,0.521163,0.164040,0.008718,0.011806

In [37]:
def create_missing_data_bandit_sample(df, y_col):
    """
    This function creates missing data sample with some dependency with covariates:
    uses Dudik's sample function : 
    randomly samples s(a) from [0.1, 1] and 
    
    Args:
    df (dataframe) : dataframe with dataset
    x_col (array-like) : list of columns that corresponds to covariate in the dataset
    y_col (str) : name of the label column in the dataset
    
    Returns:
    df (dataframe) : dataframe with partially missing data sample
    """
    classes = list(df[y_col].unique())
    
    # Only works for single-labeled muticlass classification.
    def fill_in_nan(row, classes):
        label = row["label"]
        s_a = np.random.uniform(0.1, 1, len(classes))
        probs = s_a/s_a.sum()*0.3 + np.array([0.7 if c==label else 0 for c in classes])
        na = copy(classes)
        na.remove(np.random.choice(classes, p=probs))
        row.loc[na] = np.NaN
        return row
    df = df.apply(fill_in_nan, axis=1, args=[classes])
    
    return df

In [38]:
bandit_data_yeast = create_missing_data_bandit_sample(modified_yeast, "label")

In [39]:
bandit_data_yeast.head()

,Sequence Name,mcg,gvh,alm,mit,erl,pox,vac,nuc,label,CYT,ERL,EXC,ME1,ME2,ME3,MIT,NUC,POX,VAC
0,ADT1_YEAST,0.58,0.61,0.47,0.13,0.5,0.0,0.48,0.22,MIT,NaN,NaN,NaN,NaN,NaN,NaN,0.100347,NaN,NaN,NaN
1,ADT2_YEAST,0.43,0.67,0.48,0.27,0.5,0.0,0.53,0.22,MIT,NaN,NaN,NaN,NaN,NaN,NaN,0.243454,NaN,NaN,NaN
2,ADT3_YEAST,0.64,0.62,0.49,0.15,0.5,0.0,0.53,0.22,MIT,NaN,NaN,NaN,NaN,NaN,NaN,0.121690,NaN,NaN,NaN
3,AAR2_YEAST,0.58,0.44,0.57,0.13,0.5,0.0,0.54,0.22,NUC,NaN,NaN,NaN,NaN,NaN,0.032336,NaN,NaN,NaN,NaN
4,AATM_YEAST,0.42,0.44,0.48,0.54,0.5,0.0,0.48,0.22,MIT,NaN,NaN,NaN,NaN,NaN,NaN,0.521163,NaN,NaN,NaN

In [40]:
missing_data_yeast.head()

,Sequence Name,mcg,gvh,alm,mit,erl,pox,vac,nuc,label,CYT,ERL,EXC,ME1,ME2,ME3,MIT,NUC,POX,VAC
0,ADT1_YEAST,0.58,0.61,0.47,0.13,0.5,0.0,0.48,0.22,MIT,NaN,NaN,NaN,NaN,0.052972,NaN,NaN,NaN,NaN,NaN
1,ADT2_YEAST,0.43,0.67,0.48,0.27,0.5,0.0,0.53,0.22,MIT,NaN,NaN,0.026723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADT3_YEAST,0.64,0.62,0.49,0.15,0.5,0.0,0.53,0.22,MIT,NaN,NaN,NaN,NaN,NaN,0.080558,NaN,NaN,NaN,NaN
3,AAR2_YEAST,0.58,0.44,0.57,0.13,0.5,0.0,0.54,0.22,NUC,NaN,NaN,NaN,NaN,NaN,0.032336,NaN,NaN,NaN,NaN
4,AATM_YEAST,0.42,0.44,0.48,0.54,0.5,0.0,0.48,0.22,MIT,NaN,NaN,NaN,0.006311,NaN,NaN,NaN,NaN,NaN,NaN